.menu-section {
	padding-top: 100px;
}

.menu__info {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.menu__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 50.4px;
	text-align: center;
	margin-bottom: 24px;
}

.menu__text {
	width: 800px;
	opacity: 0.4;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}
